language: node_js

cache:
  directories:
    - ~/.npm
node_js:
  - '10'
notifications:
  email: true
  slack: desaintsteban:125X1HaXM6puZdd87s3eFc0s
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
install:
  - yarn
jobs:
  include:
    - stage: Build library
      script:
        - cd $TRAVIS_BUILD_DIR/
        - yarn run test
        - yarn run compile
        - cp README.md dist/akita-filters-plugin/README.md
        - cp LICENSE dist/akita-filters-plugin/LICENSE
    - stage: deploy gihub page
      script:
        - cp README.md src/assets/README.md
        - yarn run build
        - cp docs/index.html docs/404.html
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: ./docs  # or remove this line to upload from root of repo
        github_token: $GH_TOKEN # Set in travis-ci.org dashboard
        on:
          branch: master
    # Define the release stage that runs semantic-release
    - stage: release
      node_js: lts/*
      script:
        - cd $TRAVIS_BUILD_DIR/
        - yarn run compile
      # Advanced: optionally overwrite your default `script` step to skip the tests
      # script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release

